<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>businessName</key>
		<string>某家纺旗舰店</string>
		<key>goods</key>
		<array>
			<dict>
				<key>price</key>
				<integer>99</integer>
				<key>goodName</key>
				<string>真丝枕头</string>
				<key>picture</key>
				<string>0-0</string>
			</dict>
			<dict>
				<key>price</key>
				<integer>34</integer>
				<key>goodName</key>
				<string>纯棉床单</string>
				<key>picture</key>
				<string>0-1</string>
			</dict>
			<dict>
				<key>price</key>
				<integer>100</integer>
				<key>goodName</key>
				<string>真丝纯棉保暖太空被</string>
				<key>picture</key>
				<string>0-2</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>businessName</key>
		<string>某数码产品旗舰店</string>
		<key>goods</key>
		<array>
			<dict>
				<key>price</key>
				<integer>5</integer>
				<key>goodName</key>
				<string>最新科技鼠标垫</string>
				<key>picture</key>
				<string>1-0</string>
			</dict>
			<dict>
				<key>price</key>
				<integer>22</integer>
				<key>goodName</key>
				<string>无线鼠标</string>
				<key>picture</key>
				<string>1-1</string>
			</dict>
			<dict>
				<key>price</key>
				<integer>340</integer>
				<key>goodName</key>
				<string>樱桃机械键盘</string>
				<key>picture</key>
				<string>1-2</string>
			</dict>
			<dict>
				<key>price</key>
				<integer>57</integer>
				<key>goodName</key>
				<string>语音聊天摄像头</string>
				<key>picture</key>
				<string>1-3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>businessName</key>
		<string>某服饰旗舰店</string>
		<key>goods</key>
		<array>
			<dict>
				<key>price</key>
				<real>9.9</real>
				<key>goodName</key>
				<string>百分百纯鸭绒羽绒服</string>
				<key>picture</key>
				<string>2-0</string>
			</dict>
			<dict>
				<key>price</key>
				<real>199.9</real>
				<key>goodName</key>
				<string>百分九十九纯鸭绒羽绒服</string>
				<key>picture</key>
				<string>1-0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
